- include_javascript 'lowpro'
- content_for :page_scripts do
  :plain
    var AddSelector = Behavior.create({
      initialize: function(type){
        this.template = $(type + '_select_template');
      },
      onclick: function(event) {
        event.stop();
        var newField = new Element("p").update(this.template.innerHTML);
        this.element.up("div").insert(newField);
      }
    });
    Event.addBehavior({ '#add-page-link': AddSelector('placement')});

- content_for :page_css do
  :sass
    a.add-link, a.delete-link
      color: black
      text-decoration: none
      padding-left: 16px
      background:
        position: left center
        repeat: no-repeat
    a.add-link
      background-image: url(/images/admin/plus.png)
    a.delete-link
      background-image: url(/images/admin/minus.png)

%p#placement_select_template{:style => 'display:none'}
  = select_tag "banner[placements][][page_id]", options_for_select(pages_for_select)
  = select_tag "banner[placements][][weight]", options_for_select((1..10).to_a), :title => 'weight'
  = link_to_function 'Remove', 'this.up().remove();', :class => 'delete-link'

- form_for [:admin, @banner] do |f|
  .form-area
    %p.title
      = f.label :name
      = f.text_field :name, :class => 'textbox'
    %br/
    %p
      = f.label :background_image
      %br/
      = f.text_field :background_image, :class => 'textbox', :size => 72
    %p
      = f.label :foreground_image
      %br/
      = f.text_field :foreground_image, :class => 'textbox', :size => 72
    %p
      = f.label :link_url, 'Link URL'
      %br/
      = f.text_field :link_url, :class => 'textbox', :size => 72
    %p
      = f.label :link_target, "Target window (use _blank for new window)"
      %br/
      = f.select :link_target, ['', '_blank', '_top']
    %p
      = f.label :image_style, "Image Style (CSS)"
      %br/
      ~ f.text_area :image_style, :size => '72x5'
    %div
      %p
        %label
          Page placements
          %a#add-page-link.add-link{:href => '#'} Add
      - @banner.placements.each do |p|
        %p
          = select_tag "banner[placements][][page_id]", options_for_select(pages_for_select, p['page_id'])
          = select_tag "banner[placements][][weight]", options_for_select((1..10).to_a, p['weight']), :title => 'weight'
          = link_to_function 'Remove', 'this.up().remove();', :class => 'delete-link'

  %p.buttons
    = save_model_button(@banner)
    or
    = link_to "Cancel", admin_banners_path